@font-face {
  font-family: "Inter-Bold";
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Regular";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "Inter-Variable";
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter-Regular", "Inter-Semibold";
  box-sizing: border-box;
}

body {
  background: black;
}

.wrapper {
  min-width: 320;
  max-width: 370px;
  max-height: 6500px;
  /* height: 80vh; */
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5px;
  padding: 3px;
}

.container .name {
  margin: 5px 3px;
  font-family: "Inter-Regular";
  color: white;
  font-size: 1.8rem;
}
.container .place {
  margin: 8px 5px;
  font-family: "Inter-Regular";
  color: yellow;
  font-size: 0.8rem;
}
.container .description {
  margin: 15px 5px;
  font-family: "Inter-Regular";
  color: white;
  font-size: 1rem;
}

.social-media {
  margin: 20px 5px;
  padding: 5px;
}
.social-media button {
  width: 85%;
  height: 40px;
  margin: 10px 0;
  padding: 8px 0;
  font-family: "Inter-Bold";
  font-size: 1rem;
  color: white;
  background-color: rgb(109, 108, 108);
  border: 0px;
  border-radius: 5px;
}

.social-media button:hover {
  background-color: yellow;
  color: black;
}
